a.About.us {
  text-decoration: underline;
}

section.background-section {
  width: 1383px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

element.style {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

section.paragraph.\31 {
  display: flex;
  flex-direction: row;
  height: 429px;
  gap: 35px;
  align-items: center;
}

img#img1 {
  height: 350px;
}

h2 {
  font-size: 70px;
  color: #e15241;
  text-align: center;
  height: 150px;
  width: 500px;
}

h6 {
  width: 467px;
  font-size: 20px;
  color: #422218;
  font-weight: normal;
}

section.paragraph.\32 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  justify-content: center;
  height: 600px;
}

section.paragraph.\33 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #a2bdae;
  border-radius: 58px;
  justify-content: center;
  gap: 35px;
  width: 1000px;
  height: 400px;
}

img#img2 {
  height: 450px;
}

h3 {
  font-size: 60px;
  color: #cd5a33;
  height: 30px;
}

.for {
  text-align: left;
  font-size: 20px;
  color: #422218;
  padding: 20px;
  width: 311px;
  gap: 20px;
}

.for-container {
  margin-top: -33px;
}

section.paragraph.\34 {
  display: flex;
  height: 200px;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: #422218;
  width: 1200px;
}

section.paragraph.\35 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-member-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
}

img#team-member {
  height: 250px;
  border-radius: 50%;
}

h4 {
  display: flex;
  font-size: 70px;
  color: #e15241;
  height: 0px;
  align-items: center;
}

.slide-card:nth-child(odd) {
  align-self: flex-start; 
}

.slide-card:nth-child(even) {
  align-self: flex-end; 
}

.slide-card {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.slide-card:nth-child(odd).visible {
  opacity: 1;
}

.slide-card:nth-child(even).visible {
  opacity: 1;
}

section.paragraph.\31.visible{
  transform: translateX(290px);
}

section.paragraph.\32.visible{
  transform: translateX(-250px);
}

section.paragraph.\33.visible{
  transform: translateX(215px);
}

section.paragraph.\34.visible{
  transform: translateX(-60px);
}

section.paragraph.\35.visible{
  transform: translateX(140px);
}

.team-member-container {
  perspective: 1000px;
}


.card {
  position: relative;
  width: 300px;
  height: 400px;
}

.card:nth-child(1) .card-front,
.card:nth-child(1) .card-back,
.card:nth-child(2) .card-front,
.card:nth-child(2) .card-back ,
.card:nth-child(3) .card-front,
.card:nth-child(3) .card-back ,
.card:nth-child(4) .card-front,
.card:nth-child(4) .card-back  {
  position: absolute;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s;
  backface-visibility: hidden;
  border-radius: 12px;
}

.card:nth-child(1) .card-front,
.card:nth-child(2) .card-front,
.card:nth-child(3) .card-front,
.card:nth-child(4) .card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.card:nth-child(1) .card-back,
.card:nth-child(2) .card-back,
.card:nth-child(3) .card-back,
.card:nth-child(4) .card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.card:nth-child(1):hover .card-front,
.card:nth-child(2):hover .card-front,
.card:nth-child(3):hover .card-front,
.card:nth-child(4):hover .card-front {
  transform: rotateY(180deg);
  z-index: 1;
}

.card:nth-child(1):hover .card-back,
.card:nth-child(2):hover .card-back ,
.card:nth-child(3):hover .card-back ,
.card:nth-child(4):hover .card-back  {
  transform: rotateY(0deg);
  z-index: 2;
}


