a.Contact.us {
    text-decoration: underline;
}
section.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-number-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1600px;
    height: 428px;
    background-color: #f3baa7;
}
.contact-number {
    display: flex;
    flex-direction: row;
    gap: 300px;
}
.tarumt-img {
    display: flex;
    flex-direction: row;
    height: 260px;
    gap: 22px;
}
.text.\31 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text.\32 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
h1 {
    font-size: 50px;
    color: #cd5a33;
    height: 20px;
}
h2 {
    text-align: center;
    width: 635px;
    font-size: 25px;
    color: #422218;
}
h3 {
    font-size: 30px;
    color: #422218;
    height: 0px;
}
h4 {
    font-size: 25px;
    color: #6e342a;
    margin-top: 15px;
    height: 0px;
}
h5 {
    font-size: 30px;
    color: #422218;
    line-height: 0px;
    margin-top: 25px;
}
.find-us-container {
    display: grid;
    gap: 60px;
}
address {
    font-size: 25px;
    color: #6e342a;
    margin-top: -34px;
}
iframe{
    width:1155.2px;
    height:866.4px;
    border:0;
}
.social-icons {
    display: flex;
    gap: 100px;
    height: 120px;
    align-items: center;
}

.social-icon {
    color:white;
    font-size: 50px;
    display: flex;
    background-color: #cd5a33;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.social-icon:hover {
    transform: scale(1.2);
}