a.Sticker {
    text-decoration: underline;
}

section.background-section {
    padding: 20px;
}
.sticker-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 202px;
    padding: 5px;
}
img#image1,img#image2 {
    height: 170px;
    border-radius: 40px;
    padding: 10px;
}
img#image1{
    background-color: #9fbeae;
}
img#image2{
    background-color: #f3baa7;
}
.sticker-container-left,.sticker-container-right {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.search-input{
    width: 200px;
    transition: all 0.3s ease;
    position: absolute;
    right: 350px;
    border-radius: 10px;
    border-color: #6e342a;
}

.hidden {
    width: 0 ; 
    padding: 0 ;  
    border: none ; 
    opacity: 0;             
}

.search-container {
    position: relative;
    display: inline-flex;
}

.sticker img#image1 img#image2 {
  transition: opacity 0.3s ease;
}
.sticker:hover img {
    opacity: 0.3;
    scale: 1.05;
}
.sticker ::before {
    opacity: 0;
    color: #422218;
    position: absolute;
    margin-top: -190px;
    margin-left: 45px;
    font-size: 100px;
}
.sticker-name {
    text-align: center;
    color: #6e342a;
}
.sticker:hover ::before {
    opacity: 1;
    scale: 1.05;
}
.fa-solid.fa-magnifying-glass{
    color: #6e342a;
}