a.Character {
    text-decoration: underline;
}

section.background-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.Collaboration-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 50px;
    flex-wrap: wrap;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.collaboration-img {
    height: 190px;
    transition: transform 0.3s ease;
    opacity: 0.5;
}

.name h1 {
    margin: 15px 0 0 0;
    color: #422218;
    font-weight: normal;
    transition: all 0.3s ease;
    opacity: 0.5;
    font-size: 30px;
}

.zoomed .collaboration-img {
    transform: scale(1.2);
    opacity: 1;
}

.zoomed h1 {
    transform: scale(1.2);
    opacity: 1;
}

section.Collaboration-text-container {
    height: 420px;
    background-color: #f3baa7;
    width: 1400px;
    position: relative;
}

.paragraph {
    position: absolute;
    padding: 50px;
    width: calc(100% - 100px);
    opacity: 0;
    transition: opacity 0.5s ease;
    color: #422218;
}

.paragraph.active {
    opacity: 1;
}

ul.features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 20px;
    margin-top: 50px;
    list-style-type: disc;
    color: #422218;
}
span.value {
    font-size: 20px;
    color: #422218;
    font-weight: normal;
}

span.label {
    font-size: 20px;
    color: #422218;
}