a.Home {
    text-decoration: underline;
}

.change.photo {
    display: flex;
    align-content: stretch;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

h1 {
    font-size: 60px;
    color: #422218;
}

h2 {
    font-size: 40px;
    margin-top: -37px;
    color: #6e342a;
}

div#PhotoText {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    left: 20%;
    font-family: 'Chewy', Arial, sans-serif;
}

.slide-arrow {
    position: absolute;
    /* width: 50%; */
    display: flex;
    border: none;
    background: transparent;
}

img#left {
    margin-left: 15px;
}

img#right {
    margin-right: 10px;
}

img#left, img#right {
    width: 50%;
    opacity: 30%
}

button#right {
    position: absolute;
    top: 45%;
    left: 95%;
    justify-content: flex-end;
}

button#left {
    position: absolute;
    top: 45%;
    right: 95%;
}

button:hover{
    text-shadow: ;
}

img#Photo\ 1 {
    width: -webkit-fill-available;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    font-size: 30px;
    color: #6e342a;
}

.video {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}