body{
    font-family: 'Chewy';
    src: url('fonts/chewy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chewy';
    src: url('fonts/chewy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
img#logo-image{
    width: 150px;
}
.background {
    background-image: url(../image/HOME\ \(1\).png);
    background-repeat: no-repeat;
    height: 550px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-position: center;
}
h1 {
    text-align: center;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    /* margin-left: 176px; */
    /* margin-top: 100px; */
}
p.signup-link {
    display: flex;
    justify-content: center;
}
a {
    color: #e27f65;
}
form#loginForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
input {
    border: none;
    border-radius: 30px;
}
label {
    font-size: 20px;
}
.submit {
    display: flex;
    justify-content: center;
}
button {
    background: #e07a5f;
    border-radius: 34px;
    border: none;
    height: 50px;
    width: 159px;
    cursor: pointer;
    font-family: 'Chewy';
    src: url('fonts/chewy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

form#signupForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#signupForm .input-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

#signupForm input {
    border: none;
    border-radius: 30px;
}

#signupForm label {
    font-size: 20px;
}

#signupForm .submit {
    display: flex;
    justify-content: center;
}

#signupForm button {
    background: #e07a5f;
    border-radius: 34px;
    border: none;
    height: 50px;
    width: 159px;
    cursor: pointer;
    font-family: 'Chewy';
    font-weight: normal;
    font-style: normal;
}
